.auth-builds {
  display: flex;
  justify-content: center;
  padding: 0 10px;
  margin: 50px 0 0;
  width: 100%;
  height: calc(100vh - 80px - 50px);
}

.auth-builds > .builds-form {
  width: 300px;
  height: 500px;
}

.auth-builds > .item-row {
  width: 100%;
  padding: 0 0 8px;
}

.item-row-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 0 0 8px;
}

.auth-builds > .item-search {
  padding: 0 10px;
  width: 300px;
}

.auth-builds > .item-search > .item-list {
  height: 500px;
  overflow: scroll;
}
